pre {
	margin: 0;
}

.container-fluid {
	padding-left: 30px;
}

.post {
	margin-bottom: 30px;
}

.blockImg {
	margin: 10px 0 20px 0;
    max-width: 100%;
    border: 5px outset #CDD0F3;
    display: block;
}

.blog-title {
	font-size: 30px;
    padding: 20px 15px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;
    color: #9D96FF;
    font-weight: bold;
    text-align: center;
}

.post-title {
	text-align: center;
    background: #E42E2E;
    color: #FFFFFF;
    padding: 10px 5px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
}

code .keyword {
	color: #C0ADFF;
}

code .string,
code .string * {
	color: #FF5A5A !important;
}

.note,
code,
.tips,
.warning {
	display: block;
	margin: 20px 0;
    padding: 0 15px 15px;
    border-radius: 6px;
    overflow: hidden;
}

pre code {
	background: #000;
	color: #FFF;
	margin: 0;
	overflow: auto;
}

.note,
.tips,
.warning {	
    background: #ECECD8;    
}

.note .fa,
code .fa,
.tips .fa,
.warning .fa{
	color: #F5FB00;
    font-size: 23px;
    margin: 5px 10px;
}

.titleBar {
	background: #0E133C;
	color: #FFF;
    margin: 0 -15px 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 1px 5px;
}

.warning .titleBar {
    background: orangered;
}

code .titleBar {
	background: #000;
}

.menuItem a {
    color: #2C2FB9;
    padding: 10px;
    display: block;
    border: 3px outset #C7C5FF;
    border-radius: 7px;
    text-decoration: none;
}