pre {
	margin: 0;
}

a {
    color: #5A0101;
}

html {
    background: #8282FF;
}

.mainContainer {
	padding-left: 30px;
    background: #8282FF;
    color: #eee;
}

.secComments {
    background: #FFF;
    border-radius: 10px;
}

.post {
	margin-bottom: 30px;
}

.blockImg {
	margin: 10px 0 20px 0;
    max-width: 100%;
    border: 5px outset #CDD0F3;
    display: block;
}

.blog-title {
    position: relative;
	font-size: 40px;
    padding: 20px 15px;
/*    border-bottom: 1px solid #bbb;*/
    margin: 0 -15px 10px -30px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    background: purple;
/*    background: url(../img/sunset-sky-bg.jpg) 0px -25px no-repeat;*/
/*    background-size: cover;*/
}

.blog-title a {
    display: block;
    cursor: pointer;
}

.blog-title label {
    display: block;
}

.blog-title .subtitle {
    font-size: 17px;
    font-weight: normal;
}

.blog-title a {
    text-decoration: none;
    color: inherit;
}

.followUsIcons {
    position: absolute;
    list-style: none;
    top: 25px;
    right: 20px;
}

.followUsIcons li {
    margin: 5px 0 0 5px;
    float: left;
}

.followUsIcons li .fa {
    font-size: 25px;
    border: 2px solid #fff;
    height: 40px;
    width: 40px;
    padding: 7px;
    border-radius: 50%;
}

.followUsIcons li .fa:hover {
    background: #fff;
    color: purple;
}

.post-title {
	text-align: center;
    background: #E42E2E;
    color: #FFFFFF;
    padding: 10px 5px;
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 6px;
}


code .keyword {
	color: #C0ADFF;
}

code .string,
code .string * {
	color: #14CA14 !important;
}

code .comment,
code .comment * {
    color: gray !important;
}


.note,
code,
.tips,
.warning {
	display: block;
	margin: 20px 0;
    padding: 0 15px 15px;
    border-radius: 6px;
    overflow: hidden;
    color: #000;
}


pre code {
	background: #000;
	color: #F9F9F9;
	margin: 0;
	overflow: auto;
}


.note,
.tips,
.warning {	
    background: #ECECD8;    
}

.note .fa,
code .fa,
.tips .fa,
.warning .fa{
	color: #F5FB00;
    font-size: 23px;
    margin: 5px 10px;
}

.titleBar {
	background: #0E133C;
	color: #FFF;
    margin: 0 -15px 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 1px 5px;
}

.warning .titleBar {
    background: orangered;
}

code .titleBar {
	background: #000;
}

.menuItem a {
    color: #FFF;
    padding: 10px;
    display: block;
    border-radius: 7px;
    text-decoration: none;
    height: 150px;
}

.menuHeader {
    background: #000;
    color: #FFF;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 23px;
}


/**************** COLORS ******************/
.menuItem:nth-child(5n) a {
    background: #415EF1;
}

.menuItem:nth-child(5n-1) a {
    background: #72bf48;
}

.menuItem:nth-child(5n-2) a {
/*    background: #FB6648;*/
    background: #FF2B00;
}

.menuItem:nth-child(5n-3) a {
    background: #9DD239;
}

.menuItem:nth-child(5n-4) a {
    background: #FA6900;
}
/******************************************/

/************** Right Side Bar ************/
.rSideBar .vdo {
    margin-top: 30px;
}

.rSideBar .title {
    background: darkcyan;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFF;
}
/******************************************/

/*** Media Queries ***/
@media (max-width: 767px) {
    .menuItem {
        margin-top: 10px;
    }
    
    .followUsIcons {
        right: 5px;
    }
    
    .followUsIcons li {
        float: none;
    }
}